faiss-cpu    # Vector Embeddings
groq
langchain-groq  # Framework for creating AI Genertaed Apllications
PyPDF2     # Read pdf from Documents
langchain_google_genai
langchain
streamlit
langchain_community
python-dotenv
pypdf
google-cloud-aiplatform>=1.38
